/* 全体のスタイルリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ボディのスタイル 
body {
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

